* {
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color: white;
  --secondary-color: blue;
  --contrast-color: #e6a169;
  --header-color: #ffeca6;
  --text-color: #121236;
  --button-color: #121236;
}

main {
  padding: 3rem;
}

/* == Body styles == */
body {
  background: var(--primary-color);
  margin: 0%;

  line-height: 1.6;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: adobe-jenson-pro-display, serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  color: var(--text-color);
  padding: 6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

p {
  font-size: 1.3rem;
  color: var(--text-color);
  font-family: "graphie", sans-serif;
  font-weight: 100;
  font-style: normal;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
}

button {
  border: none;
  background-color: var(--button-color);
  border-radius: 25px;
  padding: 1rem;
  margin: 0rem 20rem 0rem 20rem;
  color: white;
  font-family: "graphie", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}
