* {
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color: white;
  --secondary-color: blue;
  --contrast-color: #e6a169;
  --header-color: #ffeca6;
  --text-color: #121236;
}

body {
  background: var(--primary-color);
  margin: 0%;
}
