---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Omos from "../components/Omos.astro";
import Landing from "../components/Landing.astro";
import Galleri from "../components/Galleri.astro";
import Knap from "../components/Knap.astro";

const data = await fetch("https://drcfwrjeugkktxrsdgby.supabase.co/rest/v1/some_other_waves?select=by,sted,værk,id,img", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyY2Z3cmpldWdra3R4cnNkZ2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIzMzI0OTksImV4cCI6MTk5NzkwODQ5OX0.tVFF6acofD4-o5xDWJrDvCI41ayy7t1UhKHYklR7C0I",
  },
}).then((res) => res.json());
console.log(data);
---

<Layout>
  <Menu />
  <Landing />
  <div>
    <Knap link="#omos" text="OM OS" />
  </div>

  <h1 id="værker">VÆRKER</h1>
  <div class="gallery-container">
    {
      data.map((galleri) => {
        return <Galleri data={galleri} />;
      })
    }
  </div>

  <div>
    <Knap link="#" text="SE MERE" />
  </div>
  <Omos />
</Layout>
<Footer />

<script src="../js/login.js"></script>

<style>
  #værker {
    scroll-margin-top: 100px;
    padding-top: 3rem;
  }
  .gallery-container {
    display: flex;
    overflow-x: scroll;
    margin-left: 3em;
    margin-right: 3em;
  }
  .gallery-container {
    scrollbar-width: none; /* Hide the scrollbar */
  }
  @media (max-width: 800px) {
    .gallery-container {
      display: flex;
      overflow-x: scroll;
      margin-left: 1em;
      margin-right: 1em;
    }
    .gallery-container {
      scrollbar-width: none; /* Hide the scrollbar */
    }
    h1 {
      text-align: center;
      font-size: 3em;
    }
  }
  @media (min-width: 800px) {
    h1 {
      margin-left: 0.5em;
    }
  }
</style>
