---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Video from "../components/Video.astro";
import Omos from "../components/Omos.astro";
import Landing from "../components/Landing.astro";
import Galleri from "../components/Galleri.astro";

const data = await fetch("https://drcfwrjeugkktxrsdgby.supabase.co/rest/v1/some_other_waves?select=by,sted,værk,id,img", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyY2Z3cmpldWdra3R4cnNkZ2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIzMzI0OTksImV4cCI6MTk5NzkwODQ5OX0.tVFF6acofD4-o5xDWJrDvCI41ayy7t1UhKHYklR7C0I",
  },
}).then((res) => res.json());
console.log(data);
---

<Layout />
<Menu />
<Landing />
<Video />
<div>
  {
    data.map((galleri) => {
      return <Galleri data={galleri} />;
    })
  }
</div>
<Omos />
<Footer />
