<div class="footer">
  <p>FIND OS HER</p>
  <div class="icons">
    <a href="https://www.facebook.com/someotherwaves" target="_blank">
      <img src="../icons/fb.svg" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/someotherwaves/?hl=da" target="_blank">
      <img src="../icons/ig.svg" alt="Instagram" />
    </a>
    <a href="mailto:bjoerknoerremark@gmail.com" target="_blank">
      <img src="../icons/mail.svg" alt="Mail" />
    </a>
  </div>
</div>

<style>
  .footer {
    background-color: rgb(239, 243, 253);
  }
  @media only screen and (max-width: 600px) {
    p {
      text-align: center;
      margin-bottom: 1em;
    }
    a {
      width: 23vw;
    }
    .footer {
      /* margin-top: 3em; */
      /* margin-bottom: 2em; */
      padding-top: 1.5rem;
    }
    img {
      max-width: 10vw;
      margin-bottom: 1em;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2em;
    }
  }

  @media only screen and (min-width: 600px) {
    p {
      text-align: center;
      margin-bottom: 1em;
    }
    a {
      width: 5vw;
    }
    .footer {
      /* margin-bottom: 2em; */
      /* margin-top: 3em; */
      padding-top: 1.5rem;
    }
    img {
      max-width: 4vw;
      /* margin-right: 1em; */
      margin-bottom: 1em;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img:hover {
      opacity: 70%;
    }
  }
</style>
