<div class="icons">
  <img src="../icons/fb.svg" alt="Facebook" />
  <img src="../icons/ig.svg" alt="Instagram" />
  <img src="../icons/mail.svg" alt="Mail" />
</div>
<div class="links">
  <p>FORSIDE</p>
  <p>VÆRKER</p>
  <p>KONTAKT OS</p>
</div>

<style>
  @media only screen and (max-width: 600px) {
    img {
      max-width: 10vw;
      margin-right: 1em;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin-right: 1em;
      font-size: 1.2em;
    }
  }

  @media only screen and (min-width: 600px) {
    img {
      max-width: 4vw;
      margin-right: 1em;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin-right: 1em;
      font-size: 1em;
    }
  }
</style>
