---
const { data } = Astro.props;
console.log(data);
---


<article>
  <div class="gallery">
    <img src={"../gallery/" + data.img} alt={data.værk} />
    <h3>{data.værk}</h3>
    <h4>{data.sted}</h4>
    <h5>{data.by}</h5>
  </div>
</article>

<style>
  .gallery-container {
    width: 100%;
    overflow-x: scroll;
  }

  .gallery img {
    width: 20vw;
    height: auto;
    margin-right: 10px;
  }

  @media only screen and (max-width: 800px) {
    .gallery-container {
      width: 100%;
      overflow-x: scroll;
    }

    .gallery img {
      width: 50vw;
      height: auto;
      margin-right: 10px;
    }
  }

  h3,
  h4,
  h5 {
    color: var(--tertiary-color);
    text-align: center;
  }

  h3 {
  }
</style>