---
const { data } = Astro.props;
console.log(data);
---

<article>
  <img src={"../gallery/" + data.img} alt={data.værk} />
  <h3>{data.værk}</h3>
  <h4>{data.sted}</h4>
  <h5>{data.by}</h5>
</article>

<style>
  img {
    /* max-width: 40vw; */
    width: 20%;
    height: auto;
    display: block;
    padding: 20px;
  }

  .image-container {
    display: grid;
    grid-template-rows: 1fr;
  }
  .image-container {
    overflow: auto;
    white-space: nowrap;
  }
</style>
