<div>
  <img src="../Bjork.webp" alt="billede" />
  <img src="../Bjork.webp" alt="billede" />
  <img src="../Bjork.webp" alt="billede" />
</div>

<style>
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
</style>
