<main>
  <form id="calculator" class="beregn_boks">
    <p class="beregn_boks_tekst">Beregn din cirka pris her:</p>
    <div class="beregn">
      <input type="number" id="area" class="beregn2" required />
      <label class="kvm_p" for="area"> kvm =</label>
      <p id="result"></p>
    </div>
    <button type="submit" class="beregn_knap">BEREGN</button>
  </form>

  <p>Send en forespørgsel til os her, så vender vi tilbage til dig.</p>

  <form name="kontakt" class="form" netlify>
    <!-- Formular-indhold -->
    <div class="kontakt_grid1-1">
      <div class="form-felt">
        <label for="full-name">Fulde navn</label>
        <input id="full-name" name="fname" type="text" class="input" required />
      </div>

      <div class="form-felt">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" class="input" required />
      </div>
    </div>

    <div class="form-felt">
      <label for="adresse">Adresse</label>
      <input id="adresse" name="adresse" type="text" class="input" required />
    </div>

    <div class="kontakt_grid1-1">
      <div class="form-felt">
        <label>Hvad ønsker du malet?</label>
        <label class="container"
          >Loft
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Væg
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Loft og væg
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Andet
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="form-felt kvm">
        <label for="kvm">Angiv antal kvm i alt</label>
        <input id="kvm" name="kvm" type="number" class="boks_kvm" required />
      </div>
    </div>

    <!-- Fjerner div for at boksen går helt ud til kanterne -->
    <div class="form-felt kontakt_grid1-1-1-1-1-1">
      <label class="oensker">
        Eventuelle ønsker til værket <br />
        <textarea name="besked" rows="5" class="boks"></textarea>
      </label>
    </div>
    <button type="submit" class="send_f_button">SEND FORSPØRGSEL</button>
  </form>
</main>

<style>
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    position: relative;
    display: inline-block;
  }

  .button-text {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: white;
    font-size: 1.29rem;
  }

  /* Dine styles her */
  main {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  .form-felt {
    display: grid;
  }

  /*** gør så det rykker sig på næste linje ***/
  label,
  textarea,
  select,
  button {
    display: block;
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-family: "graphie", sans-serif;
    font-style: normal;
  }

  .boks {
    display: block;
    margin: 0.2rem 0rem 0.2rem 0rem;
    width: 100%;
    height: 10rem;
    resize: vertical;
  }

  .button .boks_kvm {
    border: solid 0.1rem var(--button-color);
    padding: 1rem;
    width: 82%;
  }

  .form-felt {
    gap: 0; /* Add margin to the top of the input field */
  }

  .input {
    border-bottom: solid 0.1rem var(--button-color);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 0.2rem 0rem 3.2rem 0rem;
  }

  label {
    font-size: 1.3rem;
  }

  .kvm {
    align-self: start;
  }

  .kvm_p {
    padding-left: 1rem;
    font-size: 1rem;
  }

  .beregn {
    display: flex;
    justify-content: center;
  }

  .beregn_boks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid var(--secondary-color);
    padding: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 6rem;
    border-radius: 25px;
  }

  .beregn_boks_tekst {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.23rem;
  }

  .beregn_knap {
    border: solid 2px var(--contrast-color);
    border-radius: 25px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--contrast-color);
    background-color: var(--primary-color);
    font-family: "graphie", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    cursor: pointer;
  }
  .beregn_knap:hover {
    border: solid 2px var(--contrast-color);
    border-radius: 25px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--primary-color);
    background-color: var(--contrast-color);
    cursor: pointer;
  }

  form {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  label {
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-family: "graphie", sans-serif;
    font-style: normal;
    font-size: 1.3rem;
  }

  .pris {
    font-style: normal;
    font-size: 1.3rem;
  }

  .send_f_button {
    border: solid var(--primary-color);
    background-color: var(--contrast-color);
    border-radius: 25px;
    padding: 1rem;
    color: var(--primary-color);
    font-family: "graphie", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .send_f_button:hover {
    border: solid var(--contrast-color);
    background-color: var(--primary-color);

    color: var(--contrast-color);
  }

  @media (min-width: 601px) {
    .kontakt_grid1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }

    .kontakt_grid1-1-1-1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 3rem;
    }

    .oensker {
      grid-column: 2/5;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }

    .beregn_boks {
      border: solid var(--secondary-color);
      padding: 3rem;
      margin-left: 11rem;
      margin-right: 11rem;
      margin-bottom: 8rem;
    }

    .beregn_boks_tekst {
      padding-bottom: 1rem;
      font-weight: 400;
      font-size: 1.6rem;
    }

    .kvm_p {
      padding-left: 1rem;
      font-size: 1rem;
    }
  }

  /* RADIO BUTTON */
  .container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    border: solid darkblue;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(93, 122, 174, 0.38);
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: darkblue;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
</style>

<script>
  document.getElementById("calculator").addEventListener("submit", function (event) {
    event.preventDefault(); // Forhindrer formen i at blive sendt

    var area = parseFloat(document.getElementById("area").value);
    var price = area * 1600;

    document.getElementById("result").textContent = price + " DKK";
    document.getElementById("result").classList.add("pris");
  });
</script>
