<main>
  <form id="calculator">
    <div class="beregn">
      <input type="number" id="area" class="beregn2" required />
      <label class="kvm_p" for="area"> kvm^2 =</label>
      <p id="result"></p>
    </div>
    <button type="submit">BEREGN</button>
  </form>

  <form name="kontakt" netlify>
    <!-- Formular-indhold -->
    <div class="kontakt_grid1-1">
      <div class="form-felt">
        <label for="full-name">Fulde navn</label>
        <input id="full-name" name="fname" type="text" class="input" required />
      </div>

      <div class="form-felt">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" class="input" required />
      </div>
    </div>

    <div class="form-felt">
      <label for="adresse">Adresse</label>
      <input id="adresse" name="adresse" type="text" class="input" required />
    </div>

    <div class="kontakt_grid1-1">
      <div class="form-felt">
        <label>Hvad ønsker du malet?</label>
        <label class="container"
          >Loft
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Væg
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Loft og væg
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container"
          >Andet
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
        <!--
            <label class="form-control">
              <input type="radio" name="radio">
              Loft
            </label>

            <label class="form-control">
              <input type="radio" name="radio">
              Væg
            </label>

            <label class="form-control">
              <input type="radio" name="radio">
              Loft og væg
            </label>

            <label class="form-control">
              <input type="radio" name="radio">
              Andet (angiv i 'ønsker til værket')
            </label> -->
      </div>

      <div class="form-felt kvm">
        <label for="kvm">Angiv antal kvm^2 i alt</label>
        <input id="kvm" name="kvm" type="number" class="boks_kvm" required />
      </div>
    </div>

    <!-- Fjerner div for at boksen går helt ud til kanterne -->
    <div class="form-felt kontakt_grid1-1-1-1-1-1">
      <label class="oensker">
        Eventuelle ønsker til værket <br />
        <textarea name="besked" rows="5" class="boks"></textarea>
      </label>
    </div>

    <button>SEND DIN FORESPØRGSEL</button>
  </form>
</main>

<style>
  /* Dine styles her */
  main {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  .form-felt {
    display: grid;
  }

  /*** gør så det rykker sig på næste linje ***/
  label,
  textarea,
  select,
  button {
    display: block;
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-family: "graphie", sans-serif;
    font-style: normal;
  }

  .boks {
    display: block;
    margin: 0.2rem 0rem 0.2rem 0rem;
    width: 100%;
    height: 10rem;
    resize: vertical;
  }

  .button .boks_kvm {
    border: solid 0.1rem var(--button-color);
    padding: 1rem;
    width: 82%;
  }

  button {
    border: none;
    background-color: var(--button-color);
    border-radius: 25px;
    padding: 1rem;
    color: white;
    font-family: "graphie", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .form-felt {
    gap: 0; /* Add margin to the top of the input field */
  }

  .input {
    border-bottom: solid 0.1rem var(--button-color);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 0.2rem 0rem 3.2rem 0rem;
  }

  label {
    font-size: 1.3rem;
  }

  .kvm {
    align-self: start;
  }

  .beregn {
    display: flex;
    justify-content: center;
  }

  form {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  label {
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-family: "graphie", sans-serif;
    font-style: normal;
    font-size: 1.3rem;
  }

  button {
    border: none;
    background-color: var(--button-color);
    border-radius: 25px;
    padding: 1rem;
    color: white;
    font-family: "graphie", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .pris {
    font-style: normal;
    font-size: 1.3rem;
  }

  @media (min-width: 601px) {
    .kontakt_grid1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }

    .kontakt_grid1-1-1-1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 3rem;
    }

    .oensker {
      grid-column: 2/5;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  }

  /* RADIO */
  .container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    border: solid darkblue;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(93, 122, 174, 0.38);
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: darkblue;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle)
  .container .checkmark:after {
    top: 0.37rem;
    left: 0.37rem;
    width: 0.5rem;
    height: 0.5rem;
    background: white;
  } */
</style>

<script>
  document.getElementById("calculator").addEventListener("submit", function (event) {
    event.preventDefault(); // Forhindrer formen i at blive sendt

    var area = parseFloat(document.getElementById("area").value);
    var price = area * 1600;

    document.getElementById("result").textContent = " Pris i danske kroner: " + price + " DKK";
    document.getElementById("result").classList.add("pris");
  });
</script>
