<div class="kontakt">
  <h1>KONTAKT OS</h1>
  <img src="../portraet.webp" alt="Portræt af pigerne" />
  <p class="kontakt">Vi elsker at komme rundt i hele Danmark <br /> og sprede vores idéer og kunst! <br /> Hold dig derfor ikke tilbage med at <br /> kontakte os i forhold til stort og småt!</p>
</div>

<div class="kontakt">
  <h2>Bestilling af kunstværk</h2>
  <p>Kvadratmeterprisen er 1600-1800 kr. <br /> Der kan forekomme ændringer i prisen.</p>
</div>

<style>
  img {
    /* max-width: 40vw; */
    width: 100%;
    height: auto;
    display: block;
    padding: 20px;
  }

  .kontakt {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .kontakt {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text within the element */
  }
</style>
