<div class="kontakt">
  <h1>KONTAKT</h1>
  <img src="../portraet.webp" alt="Portræt af pigerne" />
  <p class="kontakt">
    Vi beregner prisen per kvadratmeter. <br /> Cirka prisen er 1600 kr
  </p>
  <p>
    Send en forespørgsel til os her, <br />
    så vender vi tilbage til dig.
  </p>
</div>

<style>
  .kontakt {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .kontakt {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text within the element */
  }
</style>
