<a href="#" class="button">
  <img src="call-to-action.svg" alt="Call to action" />
  <span class="button-text">SE ALLE VÆRKER</span>
</a>

<style>
  .button {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .button-text {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: white;
    font-size: 0.9;
  }
</style>
