<div>
  <h1>SOME OTHER WAVES</h1>
  <img src="../gallery/sow9.webp" alt="Maleri" />
  <div class="color-overlay"></div>
</div>

<div class="video">
  <video src="../someotherwaves_2.mp4" autoplay controls loop>
    Your browser does not support the video tag.</video
  >
</div>

<style>
  /* @media screen (max-width: 800px) { */
  img {
    max-width: 117vw;
    opacity: 80%;
  }

  h1 {
    position: absolute;
    z-index: 1;
    font-family: "moret", serif;
    font-weight: 400;
    font-size: 5vw;
    font-style: normal;
    color: rgb(255, 255, 255);
  }

  video {
    max-width: 80vw;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
