<div>
  <h1>SOME OTHER WAVES</h1>
  <img src="../sow9.webp" alt="Maleri" />
  <div class="color-overlay"></div>
</div>

<style>
  img {
    max-width: 100vw;
    opacity: 80%;
  }

  h1 {
    z-index: 2;
    position: absolute;
    font-family: "moret", serif;
    font-weight: 400;
    font-size: 6em;
    font-style: normal;
    color: white;
  }

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 65, 116, 0.5); /* Adjust the color and opacity here */
    z-index: 1;
    opacity: 70%;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
