---
---

<header>
  <button id="burger-menu">
    Menu
    <span></span>
  </button>

  <nav id="menu">
    <ul>
      <li><a href="index.astro">Forside</a></li>
      <li><a href="index.astro">Værker</a></li>
      <li><a href="index.astro">Om os</a></li>
      <li><a href="kontakt.astro">Kontakt</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    position: fixed;
    z-index: 9;
    width: 100%;
  }

  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
  }

  #burger-menu {
    display: block;
    margin: 20px 20px 15px auto;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #303ebecc;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
    border-radius: 35%;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #fff;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #fff;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    background: #rgba;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    /* min-height: 100%; */
    position: fixed;
    top: 0;
    /* height: 0; */
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    /* padding-top: 100px; */
    background: #303ebecc;
  }
  #menu ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 7%;
    justify-content: center;
  }
  #menu li {
    list-style: none;
    display: initial;
  }
  #menu a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }

  @media screen and (max-width: 900px) {
  }
</style>
<script>
  const burgerMenu = document.querySelector("#burger-menu");
  const menu = document.querySelector("#menu");

  burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("close");
    menu.classList.toggle("overlay");
  });
</script>
