<a href="#o" class="button">
  <img src="call-to-action.svg" alt="Call to action" style="width: 110px; height: 100px; position: relative;" />
  <span class="button-text">SE MERE</span>
</a>

<div id="omos" class="tittel">
  <h1 class="text_tittel">OM OS</h1>
</div>

<div class="grid">
  <div class="section1">
    <img src="../omos.webp" alt="Picture 1" class="image1" />
    <p class="additional-text">Some Other Waves består af tvillinge-søstrene Carla og Bjørk. Vi har altid elsket at være kreative sammen og det falder os helt naturlight at samarbejde om kunsten. Siden vi var helt små har vi været på sommerferie med vores familie, rundt i det danske sommerland. Vi er derfor meget inspirerede af havet, dets farver, former og følelse. Det vi elsker alle mest ved det vi laver er at komme i en masse hjem, få lov til at sprede vores kunst og give glæde og farver til hjemmet. Vi har også været rundt hos kulturhuse og andre erhvervsdrivende, som er lige så fedt, fordi vi her kommer ud til endnu flere.</p>
  </div>
  <div class="section2">
    <img src="../someotherwaves_10.webp" alt="Picture 2" class="image2" />
    <p class="additional-text2">Vi laver som regel skitser inden, afhængig af kundens ønsker. Ellers griber vi rimelig hurtigt malerpensel og går i gang. Vi benytter økologisk maling, og vi blander vores farver ud fra primær farver. På den måde bliver værket altid helt unikt. De organiske former får virkelig lov til at tage deres plads, når vi arbejder. Derudover er muslinger og de finurlige kroppe også altid med i vores værker. Vi elsker at eksperimentere og den kunsteriske frihed er vigtig for os.</p>
  </div>
</div>

<style>
  #omos {
    scroll-margin-top: 100px;
  }
  .text_tittel {
    text-align: center;
    font-size: 3em;
  }
  .button-text {
    top: 44%;
  }

  /* .additional-text {
    padding: 20px;
  } */

  /* .additional-text2 {
    padding: 20px;
  
  } */
  @media (min-width: 1200px) {
    .section1 {
      display: flex;
      padding-bottom: 3em;
      padding-right: 3em;
    }

    .section2 {
      display: flex;
      /* padding-left:3em; */
    }
    /* img {
    max-width: 26vw;
    height: auto;
    display: block;
    padding: 20px;
  
  } */
    img {
      /* max-width: 40vw; */
      max-width: 24vw;
      /* height: auto; */
      display: block;
      /* padding: 20px; */
      margin-bottom: 1em;
    }
    .text_tittel {
      align-items: right;
      margin-right: 4em;
      font-size: 5rem;
      margin-top: 1em;
    }

    .tittel {
      display: flex;
      justify-content: flex-end;
    }
    .grid {
      display: grid;
      /* grid-template-columns: 1fr 1fr; */
      /* grid-gap: 5px;
    padding: 20px; */
      padding-right: 13em;
      padding-left: 13em;
      margin: 0%;
      padding-bottom: 5em;
    }

    .image1 {
      grid-row: 1/3;
      grid-column: 1/2;
    }

    .additional-text {
      grid-row: 1/2;
      grid-column: 2/3;
      padding-bottom: 40px;
      padding-left: 2em;
      /* padding-top: 20px; */
      margin-right: 0%;
    }

    .image2 {
      grid-row: 2/4;
      grid-column: 2/3;
      margin-right: 0%;
      order: 2;
      padding-top: 0%;
    }

    .additional-text2 {
      grid-row: 3/4;
      grid-column: 1/;
      /* margin-right: 2em; */
      padding-right: 1em;
      display: flex;
      align-items: start;
    }
  }
  @media (max-width: 1200px) {
    img {
      /* max-width: 40vw; */
      max-width: 50vw;
      /* height: auto; */
      display: block;
      /* padding: 20px; */
      margin-bottom: 1em;
    }

    .section1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2em;
    }

    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2em;
    }

    .additional-text {
      padding: 20px;
    }
  }
</style>
