<div class="text_tittel">OM OS</div>

<div class="container">
  <div class="grid_1_1_omos">
    <img src="public/billede om os.webp" width="600" height="auto" alt="piker" />
    <p>
      Some Other Waves består af et sæt tvillinge-søstre Carla og Bjørk. Vi har alltid elsket at være kreative sammen og det falder os helt naturlight at samarbejde om kunsten. Siden vi var helt små har vi været på sommerferie med vores familie,
      rundt i det danske sommerland. Vi er derfor meget inspirerede af havet, dets farver, former og følelse. Det vi elsker alle mest ved det vi laver er at komme ud i en masse hjem og få lov til at sprede vores kunst ud i en masse hjem og få lov til
      at sprede vores kunst ud og give glæde, farver og inspiration til hjemmet. Vi har også været rundt hos Kulturhuse og andre erhvervsdrivende, som er lige så fedt, fordi vi her kommer ud til endnu flere, og kan bruges endnu bredere.
    </p>
  </div>
  <img src="someotherwaves_10.webp" width="600" height="auto" alt="Overlay image" class="overlay" />
</div>

<div class="container2">
  <p>
    Vi laver som regel lidt skitser inden, afhængig af kundens ønsker. Men ellers griber vi rimelig hurtight malerpensel og går i gang. Vi benytter økologisk maling, og vi blander vores farver med de helt grundlæggende primær farver. På den måde
    bliver værket altid helt unikt. De organiske former får virkelig lov til at tage deres plads, når vi arbejder. Derudover er muslinger og de finurlige kroppe også alltid med os i vores værker. Vi elsker dog at eksperimentere og den kunsteriske
    frihed er vigtig for os i vores proces og arbejde.
  </p>
</div>
<style>
  .container {
    position: relative;
  }

  .grid {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: gray;
    z-index: 1;
  }

  /* .overlay {
    position: absolute;
    top: 105%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 2;
  } */

  .grid_1_1_omos {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 51px;
    padding: 80px;
    padding-right: 100px;
  }

  p {
    line-height: 2;
  }

  .container2 {
    width: 50%;
    padding-left: 80px;
    padding-right: 40px;
  }
</style>
