---
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Some Other Waves" />
    <link rel="stylesheet" href="https://use.typekit.net/uwq3pya.css" />
    <meta name="robots" content="noindex" />
    <title>Some Other Waves</title>
    <link rel="stylesheet" href="https://use.typekit.net/rjn2yqd.css" />
  </head>
  <body>
    <main><slot /></main>
  </body>
</html>
